
.course-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 14rem);
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 200px;
}

.card-text:nth-last-child(2){
    height: 150px;
    border-bottom: 1px solid #848080;
}

